.navigation__logo-img {
  background-position: 50%;
  background-size: contain;
  background-repeat: no-repeat;
  background-image: url(https://www.mobilityforall.com/dist/img/toyota-mobility-for-all.de7f8f4300ff3d944f841084ce1bb78a.svg);
  height: 4.125rem;
  width: 7.1875rem;
}