.w-auto {
  width: auto;
}
.h-auto {
  height: auto;
}
.text-black {
  color: $black;
}
.bg-white {
  background-color: $white;
}
.hidden {
  display: none;
}
.block {
  display: block;
}
.list-none {
  list-style-type: none;
  margin: 0;
  padding: 0;
}