$font-black: 900;
$font-bold: 700;
$font-semibold: 600;
$font-regular: 500;
$font-book: normal;
$font-light: 300;

$font-family-base: "Toyota", "Helvetica Neue", Helvetica, Arial, sans-serif;
$font-weight-base: $font-regular;
$font-size-base: 1.125rem;

$font-weight-lighter: $font-light;
$font-weight-light: $font-book;
$font-weight-normal: $font-regular;
$font-weight-bold: $font-semibold;
$font-weight-bolder: $font-bold;

$line-height-base: 1.5;

$focus-color: #767676;

$white: #ffffff;
$black: #000000;

$body-bg: #ffffff;
$body-color: #303841;

$brand-gold: #CFA93C;
$brand-dark-gold: #AD8C2B;
$brand-red: #D71921;
$brand-dark-red: #A40614;

$plyr-color-main: $brand-red;

$loadAnimationSpeed: 300ms;

// $header-breakpoints: (
//   xs: 0,
//   sm: 576px,
//   md: 920px,
// );

$grid-breakpoints: (
  xs: 0,
  sm: 576px,
  md: 768px,
  lg: 992px,
  xl: 1200px
);

// $container-max-widths: (
//   sm: 1197px,
//   md: 1198px,
//   lg: 1199px,
//   xl: 1200px
// );
$container-max-width: 1200px;

$grid-gutter-width: 40px;

$navbar-height: 6.25rem;
